@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

.header {
    margin: 8px 0px 14px 20px;
    font-size: 0;
    font-family:sans-serif;
}


html{
    background-color: #CFEDDA;
    font-family: "Open Sans";
}

main{
    margin: 285px;
    text-align: center;

}

li{
    display: inline;
    margin:0 5px 0 5px;
}

.fixed-header{
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
}

.header > * {
    display: inline-block;
    font-size: 16px;
    height: 30px;
}
  
.logo {
    width: 15%;
}

.logo img{
    position: absolute;
    margin-top: 8px;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;

}
  
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
  
}

.actions > *{
  margin: 0 10px 0 10px;
}

.actions a{
    color: #67b54b;
    font-size: 14px;
    text-decoration: none;
}

.actions button{
    background-color: #67b54b;
    padding: 12px 14px 14px 12px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

button{
    color: #fff;
    background-color: #025157;
}

.video-publicidad{
    display: flex;
    justify-content: center;
}

.video-publicidad label{
    color: #8b8b8bcc;    
}

.video{
    width: 450px;
    padding-right: 20px;
}

.video img{
    display: flex;
    width: 120px;
    margin-left:150px ;
}

.publicidad{
    width: 500px;
}

.publicidad h2{
    color: #025157;
    font-size: 40px;
    font-family: sans-serif;
    font-family: "Alegreya";
}

.publicidad p{
    text-align: justify;
    color: 343434;

}

.publicidad input{
    padding: 20px;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #b6b6b6;
    font-size: 18px;
}

.publicidad button{
    margin-left: -10px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    border: 0;
    font-size: 18px;
}

.ecommerce{
    display: flex;
    width: 100%;
    background-color: #A1D683;
    padding-top: 150px;
    padding-bottom: 120px;
}

.texto-marca{
    width: 560px;

}

.texto-marca h2{
    font-family: "Alegreya";
    font-size: 50px;
    color: #025157;
}

.texto-marca p{
    font-size: 18px;
    text-align: justify;
    color: #343434;
}

.texto-marca button{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}

.texto-marca img{
    margin-top: 20px;
    width: 100%;
    height: auto;

}

.ecommerce{
    display: flex;
    justify-content: center;
}

.ecommerce .everly{
    width: 290px;
    margin-left: 100px;
    background-color: #fff;
    border-radius: 15px;
    margin-top: -60px;
    
   
}

.ecommerce .everly .cabecera img{
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 10px;  
}

.ecommerce .everly .circulo {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #F9DA73;
    margin-left: 160px;
    margin-top: -80px;
    
}

.ecommerce .everly .circulo img{
    margin-top: 35px;
    width: 80px;
    margin-left: 10px;
}

.ecommerce .everly .titulo{
    margin: 30px 0 0 20px;
    font-family: "Slabo";
    color: #02535D;
    font-weight: 500;
    
}

.ecommerce .everly .cuerpo{
    margin: 10px 0 10px 20px;
    width: 80%;
    font-size: 24px;
    
}

.ecommerce .everly .cuerpo2{
    margin: 10px 0 30px 110px;
    width: 45%;
    font-size: 12px;
    color: #8b8b8bcc;
    
}


.ecommerce .everly .cuerpo2 img{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: -70px;
    margin-top: 5px;
}


.ecommerce .everly .final button{
    margin: 10%;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.features{
    margin-top: 120px;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2,1fr);
    background-color: #025157;
    padding: 5% 10%;
}

.feature-art{
    background-color: #fff;
    margin: 10px;
    width: 510px;
    height: 300px;
    border-radius: 5px;
    padding: 30px 20px 40px 40px;
}

.feature-art img{
    width: 50px;
    height: 50px;
}

.feature-art h4{
    font-size: 24px;
    width: 300px;
}

.feature-art p{
    margin-top: 10px;
    color: #7e7e7e;
    width: 250px;
    margin-bottom: 10px
}

.feature-art a{
    color: #6BB54F;
    text-decoration: none;
}

.feature-art .picture {
    position: absolute;
    width: 150px;
    height: 210px;
    margin-top: -220px;
    margin-left: 320px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -6px #CCCCCC;
    overflow: hidden;
}

.feature-art .picture img{
    width: 200%;
    height: 100%;
}

.matcha-work{
    background-color: #FFFBF7;
}

.matcha-header{
display: block;
margin: auto;
width: 600px;
}

 .matcha-header h2{
    font-family: "Alegreya";
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
    color: #025157;
}

.matcha-header p{
    font-family: 20px;
    color: #46484c;
    text-align: center;
}

.matcha-header a{
    color: #6BB54F;
    text-decoration: none
}

.matcha-header button{
    width: 180px;
    height: 45px;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.work-contenedor{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
    column-gap:40px;
    padding-bottom:60px;
    margin-left: 10%;
}
.work-contenedor article{
    width: 100%;
    height: 610px;
    display: block;
    background-color: #FFF;
    border:1px solid #DADADA ;
    padding: 23px;
}

.work-contenedor .logo img{
    width:50px ;
    height: 50px;
}

.work-contenedor h3{
    font-size: 30px;
    font-family: "Alegreya";
    text-align: center;
    margin-top: 320px;
    color: #0D5D62;   

}

.work-contenedor p{
    margin-top: 10px;
    font-size: 15px;
}

.work-contenedor a{
    color: #6BB54F;
    text-decoration: none;
}

.work-contenedor .person {
    width: 225px;
    height: 350px;
    position: absolute;
    margin: -20px 0 0 -52px;
    overflow: hidden;
}

