@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    margin: 40px 20px 0px 20px;
    font-size: 0;
    line-height: 45px;
    font-family:sans-serif;
}


li{
    display: inline;
}

.fixed-header{
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    /* line-height: 45px; */
    margin-left:0 25px 0 25px;
}
  
.logo {
    width: 15%;
}
  
.navbar {
    width: 70%;
    text-align: center;
    text-align: left;
    color: #025157;
}
  
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
  
}

.actions > *{
  margin: 0 10px 0 10px;
}

.actions a{
    color: #67b54b;
    font-size: 14px;
}

.actions button{
    background-color: #67b54b;
    padding: 12px 14px 14px 12px;
    color: #ffffff;
    border-radius: 5px;
}

h1{
    background-color: #232323;
    color: #ffffff;
    text-align: center;
}
/* h2,h3,h4,h5,h6{
    color: #46484c;
    background-color: #F86A6A;
    padding: 20px;
}
 */
/* p{
    background-color: #FECFB9;
}
b{
    color: #8b8b8bcc;
}

form{
    padding: 20px;
    background-color: #F1F1A8;
}
 */
button{
    color: #fff;
    background-color: #025157;
}

.video-publicidad{
    display: flex;
    justify-content: center;

}

.video-publicidad label{
    color: #8b8b8bcc;    
}

.video{
    width: 450px;
    padding-right: 20px;
}

.video img{
    display: flex;
    width: 120px;
    margin-left:150px ;
}

.publicidad{
    width: 500px;
}



.publicidad h2{
    color: #025157;
    font-size: 40px;
    font-family: sans-serif;
    font-family: "Alegreya";
}

.publicidad p{
    text-align: justify;
    color: 343434;

}

.publicidad input{
    padding: 10px;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #b6b6b6;
}

.publicidad button{
    margin-left: -10px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    border: 0;
}